nav {
    display: flex;
    justify-content: space-between;
    background-color: #010409;
    border-bottom:2px solid #373E47;
    width: 100%;
    padding: 0 1rem 0 1rem;
}

nav link p{
    text-decoration: none;
}

.logoDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    height:5vh;
    border-radius: 50%;
}

nav div {
    display: flex;
}

nav h3 {
    margin-left: 15px;
    color: white;
}

nav p {
    margin-left: 50px;
    color: white;
}

nav h3:hover,
nav p:hover {
    text-decoration: underline;
}